<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>susn</servlet-name>
        <servlet-class>susn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>coll</servlet-name>
        <servlet-class>coll</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bemp</servlet-name>
        <servlet-class>bemp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>app</servlet-name>
        <servlet-class>app</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>clogin</servlet-name>
        <servlet-class>clogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>colupdate</servlet-name>
        <servlet-class>colupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>stupayupdate</servlet-name>
        <servlet-class>stupayupdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogin</servlet-name>
        <servlet-class>blogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disppasses</servlet-name>
        <servlet-class>disppasses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empinsert</servlet-name>
        <servlet-class>empinsert</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empdelete</servlet-name>
        <servlet-class>empdelete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>susn</servlet-name>
        <url-pattern>/susn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>coll</servlet-name>
        <url-pattern>/coll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bemp</servlet-name>
        <url-pattern>/bemp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>app</servlet-name>
        <url-pattern>/app</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clogin</servlet-name>
        <url-pattern>/clogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>colupdate</servlet-name>
        <url-pattern>/colupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>stupayupdate</servlet-name>
        <url-pattern>/stupayupdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogin</servlet-name>
        <url-pattern>/blogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disppasses</servlet-name>
        <url-pattern>/disppasses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empinsert</servlet-name>
        <url-pattern>/empinsert</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empdelete</servlet-name>
        <url-pattern>/empdelete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
